
* {
  cursor: pointer;
}

body {
  text-align: center;
  margin: 0 auto;
  background: #057; /* Initial background colour */
  color: white;
  font-family: serif;
}

h1 {
  font-size: 75px; /* font-size: 50px after 1st click */
  padding: 240px 100px 0px 100px;
}

h2 {
  font-size: 30px;
  padding-top: 100px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 500px) {

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

}
