* {
  font-family: 'Lato';
  cursor: pointer;
}

body {
  background: #057; /* Initial background color */
  color: white;
  text-align: center;
  margin: 0 auto;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

h1 {
  font-size: 75px; /* Initial font size */
  padding: 240px 100px 0px 100px;
}

h2 {
  display: inline-block;
  font-size: 30px;
  padding-top: 100px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
}
